.redux{
  margin: 20px 0px 0px 20px;
  display: flex;
  align-items: center;
}
a{
  cursor: pointer;
}
.redux-btn{
  background-color:#00ffbf;
  color: #fff;
  padding: 3px 10px;
  outline: none;
  border: 1px solid #00ffbf;
  text-align: center;
}
.redux-input{
  padding: 5px 10px;
  outline: none;
  border: 1px solid #00ffbf;
}
.redux-contain{
  margin: 20px;
  display: flex;
  gap: 2px;
}